

.addproductform {
    padding:0 50px 0 50px;
    width:80%;
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  .memelignelabel input,.close {
    width: 50%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  
  .memelignelabel input[type="submit"], .close {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
   align-items: center;
  }
  .memelignelabel{
    display: flex;
    align-items: center;
    justify-content:space-between;

  }
 