/* ChangeCart.css */

.change-cart-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  .but {
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .changeicone {
    width: 20px;
    height: 15px;
  }
  
  div.changeicone {
    display: flex;
    justify-content: space-between;
    width: 50px;
  }
  
  /* Responsive Table Styles */
  .responsive-table {
    overflow-x: auto;
  }
  
  /* Modal Styles */
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height:80%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    outline: none;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-container label {
    display: block;
    margin-bottom: 8px;
  }
  
  .form-container input,
  .form-container select,
  .form-container button {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  
  .form-container button {
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .form-container button:hover {
    background-color: #45a049;
  }
  .addbut{
    width: 50%;
    border-radius:30px;
    border: 2px solid #000;
    margin-bottom: 20px;
    
  }
  
  @media only screen and (max-width: 600px) {
    /* Mobile styles */
  
    .change-cart-container {
      padding: 10px;
    }
  
    table {
      font-size: 14px;
    }
  
    .changeicone {
      width: 15px;
      height: 12px;
    }
  
    div.changeicone {
      width: 30px;
    }
  
    .modal {
      width: 90%;
    }
  
    .form-container {
      max-width: 100%;
    }
  }
  