.modalEdith{
    padding-top: 100px;
    display:flex;
    flex-direction: column;
}
.memeligne{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.memeligne button{
    background-color: rgb(16, 17, 16);
    color: white;
    width: 70%;
    height:30px;
}